"""
Fetch insights about model & target drift in natural language
"""

from on_call.modules.time_series_summary import get_summary, get_time_series_nlp_setup

{% raw %}
---CELL---
{% endraw %}

"""
Fetch insights about model & target drift in natural language
"""

_context, _prompt = get_time_series_nlp_setup(analysis)
get_summary(_context, _prompt)
