"""
Functions for cleaning and analyzing report data.
"""

from on_call.modules.flag_critical_windows import analyze_monitoring_data_json, WindowData

{% raw %}
---CELL---
{% endraw %}

window_data = [WindowData(reg.json(), drift.json()) for reg, drift in reports]

{% raw %}
---CELL---
{% endraw %}

analysis = analyze_monitoring_data_json(window_data, current)
