{# Import modules #}
from on_call.modules.window_visualizations import (
   create_consolidated_performance_plot,
   create_drift_analysis_plot,
   extract_report_metrics
)

{% raw %}
---CELL---
{% endraw %}

performance_fig = create_consolidated_performance_plot(reports, windows)
drift_fig = create_drift_analysis_plot(reports)
performance_fig.show()
drift_fig.show()
