import pandas as pd
import numpy as np
import requests
import zipfile
import io
import json
import os
import sys
from dotenv import load_dotenv
import openai

from dataclasses import dataclass
from datetime import datetime, time
from typing import Dict, List, NamedTuple, Tuple, Optional

import plotly.graph_objects as go
from plotly.subplots import make_subplots
from sklearn import datasets, ensemble
from evidently import ColumnMapping
from evidently.report import Report
from evidently.metric_preset import (
    TargetDriftPreset,
    RegressionPreset,
    DataDriftPreset,
    DataQualityPreset
)

if not __package__:
    package_source_path = "src" 
    sys.path.insert(0, package_source_path)

from on_call.modules.time_series_reports import (
   calculate_dynamic_window_info,
   generate_time_windows_datetime,
   run_performance_reports
)

{% if custom_imports %}
{{ custom_imports }}
{% endif %}

load_dotenv()
print("{{ startup_message|default('All modules imported!') }}")
